@keyframes slideInUp {
  from {
      transform: translate3d(0, 100%, 0);
      visibility: visible;
  }
  to {
      transform: translate3d(0, 0, 0);
  }
}
  
.slideInUp {
  animation-name: slideInUp;
}
body {
  height: 100vh;
  /* overflow-y: scroll; */
  /* position: absolute; */
  width: 100vw;
  left: 0px;
  top: 0px;
}

